* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' , sans-serif;
}

header {
    padding: 70px 35px 10px;
    display: flex;
    flex-wrap: wrap;
    color: #293b97;
    justify-content: center;
}

h3 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    font-size: 22px;
}